@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(arkaplan1.jpg);
    background-size: cover;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.anasayfa-body{
    justify-content: center;
}

.mouse-takip{
    width:36px;
    height:36px;
    border-radius: 18px;
    background:radial-gradient(circle at 0% 0%,rgba(75,75,75,0.4) 0% 10px,rgba(0,0,0,0.4));
    border-left:1px solid rgb(177, 177, 177);
    border-top:1px solid rgb(177, 177, 177);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.anasayfa{
    font-size:64px;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

a{
    color:white;
    text-decoration: none;
}

a.navigation,
button.arkaplan{
    margin-top:16px;
    font-size:20px;
    color:white;
    background:radial-gradient(circle at 0% 0%,rgba(75,75,75,0.4) 0% 10px,rgba(0,0,0,0.4));
    padding:12px 24px;
    backdrop-filter: blur(5px);
    text-decoration: none;
    border:0;
    border-left:1px solid rgb(177, 177, 177);
    border-top:1px solid rgb(177, 177, 177);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
}

.linkler{
    margin-bottom: 16px;
    display: flex;
    gap:16px
}

.container{
    display: flex;
    max-width: 1250px;
    gap:24px
}

.personal-info-container{
    background:radial-gradient(circle at 0% 0%,rgba(75,75,75,0.4) 0% 10px,rgba(0,0,0,0.4));
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    width: 332px;
    min-width: 332px;
    padding: 18px;
    margin-right: 12px;
    border-left:1px solid rgb(177, 177, 177);
    border-top:1px solid rgb(177, 177, 177);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
}

.personal-section-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 100%;
    
}

.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-photo{
    border-radius: 0%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.personal-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-section p{
    font-size: 12px;
}

.personal-section .heading{
    color:  rgb(0, 0, 0);
    padding-left: 8px;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 18px;
}

.personal-works{
    width: 100%;
    height: 94%;

}
.right-side{
    width: 100%;
    height: 100%;
    background:radial-gradient(circle at 0% 0%,rgba(75,75,75,0.4) 0% 10px,rgba(0,0,0,0.4));
    backdrop-filter: blur(5px);
    color:rgb(237, 237, 237);
    padding:32px;
    border-left:1px solid rgb(177, 177, 177);
    border-top:1px solid rgb(177, 177, 177);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
}

.works-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.works-wrapper{
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgb(177, 177, 177);
    border-left: 1px solid rgb(177, 177, 177);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
    padding:16px
}

.work-heading{
    padding:24px;
}

.iletisim-wrapper{
    background:radial-gradient(circle at 0% 0%,rgba(75,75,75,0.4) 0% 10px,rgba(0,0,0,0.4));
    border-left:1px solid rgb(177, 177, 177);
    border-top:1px solid rgb(177, 177, 177);
    padding:24px;
}